.download-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.download-links a {
    margin-right: 10px; /* Optional: space between links */
}

.downloadbox {
    width: 50%;
}

.reportlist-container {
    display: flex;
    flex-wrap: wrap;
}
.reportitem {
    width: 30%; /* Adjust the width for the desired number of columns */
    margin: 10px; /* Space between items */
}
