<table class="{{ .Get 0 }}" style="{{ .Get 1 }}">
  <thead>
    <tr>
      <th>Version</th>
      <th>Release Date</th>
      <th>Downloads</th>
      <th>Changelog</th>
    </tr>
  </thead>
  <tbody>
    {{ with .Site.Data.releases }}
      {{ range . }}
        <tr class="release">
          <td class="release">{{ .version }}</td>
          <td class="release">{{ .release_date }}</td>
          <td class="release downloadbox">
            <div class="download-links">
                {{ range $key, $value := .downloads }}
                <a href="{{ $value }}">{{ $key }}</a>
                {{ end }}
            </div>
          </td>
          <td class="release"><a href="{{ .changelog }}">Changelog</a></td>
        </tr>
      {{ end }}
    {{ end }}
  </tbody>
</table>
